{% load static %}
    <!-- Gallery Section    S T A R T -->
    <div class="gallery-section">
        <div class="gallery-wrapper style1">
            <div class="container">
                <div class="slider-area">
                    <div class="swiper gallerySliderOne">
                        <div class="swiper-wrapper">
                            {% for gallery in Gallery %}
                                <div class="gallery-thumb">
                                    <a href="#">
                                        <img src="{{ gallery.GalleryImage.url}}" alt="thumb">
                                        <div class="icon"><img src=" {% static 'assets/img/icon/camera.svg' %}" alt="icon"></div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>