{% load static %}
<html lang="zxx">
  {% include 'main/head.html' %}
  <body>
    {% include 'main/preloader.html' %}
    {% include 'main/header.html' %} 
    {% include 'main/searcharea.html' %}

    <!-- Banner Section S T A R T -->
    {% if Slide %} 
      {% include 'main/slider.html' %} 
    {% endif %}

    <!-- Best Food Items Section S T A R T -->
    {% comment %} {% if Products %} 
      {% include 'main/bestfoodsection.html' %}
    {% endif %} {% endcomment %}  
    <!-- Offer Section S T A R T -->
    
    {% if Offers %}
      {% include 'main/offersection.html' %} 
    {% endif %}

    <!-- About Us Section S T A R T -->
    {% if About %}
      {% include 'main/aboutsection.html' %} 
    {% endif %}
    <!-- Popular Dishes Section S T A R T -->
    {% if Products %}
      {% include 'main/populardish.html' %}
    {% endif %}

    <!-- Cta section S T A R T -->
    {% if CTA %}
      {% include 'main/ctasection.html' %} 
    {% endif %}
    
    <!-- Chefe Section S T A R T -->
    {% if Chef %}
     {% include 'main/chefsection.html' %}
    {% endif %}

    <!-- Testimonial Section S T A R T -->
    {% include 'main/testimonialsection.html' %}
     
    <!-- Blog Section S T A R T -->
    {% if Blog %}
      {% include 'main/blogsection.html' %} 
    {% endif %}
    <!-- Gallery Section S T A R T -->
    {% if Gallery %}
      {% include 'main/galerysection.html' %} 
    {% endif %}
    
    {% include 'main/footer.html' %}
    {% include 'main/scriptpath.html' %}
  </body>
</html>
