{% load static %}
<html lang="zxx">
  {% include 'main/head.html' %}
  <body>
    {% include 'main/preloader.html' %}
    {% include 'main/header.html' %} 
    {% include 'main/searcharea.html' %}


    <!-- Services Section   S T A R T -->
    <div class="services-section style1 section-padding fix">
      <div class="services-wrapper style2">
          <div class="container">
              <div class="row gy-5 gx-30">
                  <div class="col-lg-4">
                      <div class="services-card style2">
                          <div class="services-card_icon">
                              <img src="{% static 'assets/img/icon/servicesIcon1_1.png' %} " alt="icon">
                          </div>
                          <h4 class="services-card_title">
                              <a href="#">Dining Guides</a>
                          </h4>
                          <p class="services-card_text">Detailed reviews of local eateries, covering various cuisines,
                              price points, and dining experiences.</p>
                          <div class="shape1"><img src="{% static 'assets/img/shape/servicesShape1_1.png' %} " alt="shape"></div>
                          <div class="shape2"><img src="{% static 'assets/img/shape/servicesShape1_2.png' %} " alt="shape"></div>
                          <div class="shape3"><img src="{% static 'assets/img/shape/servicesShape1_3.png' %} " alt="shape"></div>
                          <div class="shape4"><img src="{% static 'assets/img/shape/servicesShape1_4.png' %} " alt="shape"></div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="services-card style2">
                          <div class="services-card_icon">
                              <img src="{% static 'assets/img/icon/servicesIcon1_2.png' %} " alt="icon">
                          </div>
                          <h4 class="services-card_title">
                              <a href="#">100% Fresh Food</a>
                          </h4>
                          <p class="services-card_text">Detailed reviews of local eateries, covering various cuisines,
                              price points, and dining experiences.</p>
                          <div class="shape1"><img src="{% static 'assets/img/shape/servicesShape1_1.png' %} " alt="shape"></div>
                          <div class="shape2"><img src="{% static 'assets/img/shape/servicesShape1_2.png' %} " alt="shape"></div>
                          <div class="shape3"><img src="{% static 'assets/img/shape/servicesShape1_3.png' %} " alt="shape"></div>
                          <div class="shape4"><img src="{% static 'assets/img/shape/servicesShape1_4.png' %} " alt="shape"></div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="services-card style2">
                          <div class="services-card_icon">
                              <img src="{% static 'assets/img/icon/servicesIcon1_3.png' %} " alt="icon">
                          </div>
                          <h4 class="services-card_title">
                              <a href="#">Special Offers and Discounts</a>
                          </h4>
                          <p class="services-card_text">Detailed reviews of local eateries, covering various cuisines,
                              price points, and dining experiences.</p>
                          <div class="shape1"><img src="{% static 'assets/img/shape/servicesShape1_1.png' %} " alt="shape"></div>
                          <div class="shape2"><img src="{% static 'assets/img/shape/servicesShape1_2.png' %} " alt="shape"></div>
                          <div class="shape3"><img src="{% static 'assets/img/shape/servicesShape1_3.png' %} " alt="shape"></div>
                          <div class="shape4"><img src="{% static 'assets/img/shape/servicesShape1_4.png' %} " alt="shape"></div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="services-card style2">
                          <div class="services-card_icon">
                              <img src="{% static 'assets/img/icon/servicesIcon1_4.png' %} " alt="icon">
                          </div>
                          <h4 class="services-card_title">
                              <a href="#">Restaurant Reviews</a>
                          </h4>
                          <p class="services-card_text">Detailed reviews of local eateries, covering various cuisines,
                              price points, and dining experiences.</p>
                          <div class="shape1"><img src="{% static 'assets/img/shape/servicesShape1_1.png' %} " alt="shape"></div>
                          <div class="shape2"><img src="{% static 'assets/img/shape/servicesShape1_2.png' %} " alt="shape"></div>
                          <div class="shape3"><img src="{% static 'assets/img/shape/servicesShape1_3.png' %} " alt="shape"></div>
                          <div class="shape4"><img src="{% static 'assets/img/shape/servicesShape1_4.png' %} " alt="shape"></div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="services-card style2">
                          <div class="services-card_icon">
                              <img src="{% static 'assets/img/icon/servicesIcon1_5.png' %} " alt="icon">
                          </div>
                          <h4 class="services-card_title">
                              <a href="#">Food Testing Events</a>
                          </h4>
                          <p class="services-card_text">Detailed reviews of local eateries, covering various cuisines,
                              price points, and dining experiences.</p>
                          <div class="shape1"><img src="{% static 'assets/img/shape/servicesShape1_1.png' %} " alt="shape"></div>
                          <div class="shape2"><img src="{% static 'assets/img/shape/servicesShape1_2.png' %} " alt="shape"></div>
                          <div class="shape3"><img src="{% static 'assets/img/shape/servicesShape1_3.png' %} " alt="shape"></div>
                          <div class="shape4"><img src="{% static 'assets/img/shape/servicesShape1_4.png' %} " alt="shape"></div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="services-card style2">
                          <div class="services-card_icon">
                              <img src="{% static 'assets/img/icon/servicesIcon1_6.png' %} " alt="icon">
                          </div>
                          <h4 class="services-card_title">
                              <a href="#">Online Ordering</a>
                          </h4>
                          <p class="services-card_text">Detailed reviews of local eateries, covering various cuisines,
                              price points, and dining experiences.</p>
                          <div class="shape1"><img src="{% static 'assets/img/shape/servicesShape1_1.png' %} " alt="shape"></div>
                          <div class="shape2"><img src="{% static 'assets/img/shape/servicesShape1_2.png' %} " alt="shape"></div>
                          <div class="shape3"><img src="{% static 'assets/img/shape/servicesShape1_3.png' %} " alt="shape"></div>
                          <div class="shape4"><img src="{% static 'assets/img/shape/servicesShape1_4.png' %} " alt="shape"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


    <!-- Cta section  S T A R T -->
    {% if CTA %}
      {% include 'main/ctasection.html' %}
    {% endif %}

    <!-- Gallery section  S T A R T -->
    {% include 'main/galerysection.html' %}
    {% include 'main/footer.html' %}
    {% include 'main/scriptpath.html' %}
  </body>
</html>
